<header class="container-fluid">

    <nav class="navbar-fluid">
        <ul class="nav nav-tabs">
        <li role="navigation"><a href="/"> Home</a> </li>
        <li role="navigation"><a href="/about"> About Us</a></li>
        <li role="navigation"><a href="/projects"> My Projects</a> </li>
        </ul>
    </nav>
    <div class="page-header">
        <h1>{{pageTitle}}</h1>
</div>
</header>