<DOCTYPE! html>
<html>
{{> head}}
<body id ="body" class="container-fluid">
{{> header}}
<div class="jumbotron">
<p> {{ screamIt welcomeMessege}}</p>
    <p><a class="btn btn-primary btn-lg" href="/projects" role="button"> My projects</a></p>
</div>
{{>footer}}

</body>
</html>