<!DOCTYPE html>
<html lang="en">
{{> head}}
<body class="container-fluid">

{{> header}}
<section class="jumblotron">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h1> These are my newest projects</h1>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="wrapper">
        <div class="inline">
    <div class="col-md-4">
    <h2>Todo app</h2>
        <img class="project-img" src="http://johnlewis.scene7.com/is/image/JohnLewis/231283644?$prod_exlrg$" alt="mikrovlka">
    </div>
            <div class="col-md-4">
            <h2>Node js</h2>
            <img class="project-img" src="http://johnlewis.scene7.com/is/image/JohnLewis/231283644?$prod_exlrg$" alt="mikrovlka">
        </div>
    <div class="col-md-4">
        <h2>Microwave</h2>
        <img class="project-img" src="http://johnlewis.scene7.com/is/image/JohnLewis/231283644?$prod_exlrg$" alt="mikrovlka">
    </div>
    </div>
    </div>
</section>
{{> footer}}
</body>
</html>